/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------- my custom csss --------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffe2b3;
    color: #824e2a;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

header {
    margin-top: 4rem;
    padding: 1.2rem;
    font-size: 3.8rem;
    color: #583700;
    font-weight: 700;
}

.button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    color: #583700;
    border: 4px solid #583700;
    background-color: #ffe2b3;;
    font-family: inherit;
    font-size: 1.9rem;
}

.button:hover {
    background-color: #e7ab44;
}

.button:active {
    background-color: #be892e;
}

.container {
    padding: 1rem;
}

.grid {
    display: grid;
    max-width: 800px;
    min-height: 800px;
    margin: 2rem auto;
}

.grid-element {
    border: 2px solid rgb(71, 44, 29);
    background-color: #e6cab6;
}

aside {
    margin-top: 100px;
}

@media (max-width: 450px) {
    header {
        font-size: 2.4rem;
    }
    .grid {
        max-width: 300px;
        min-height: 300px;
    }
}